[init]
  defaultBranch = main

[core]
  editor = vim

[includeIf "gitdir:~/projects/personal/"]
  path = ~/dot_files/.gitconfig-personal
[includeIf "gitdir:~/dot_files/"]
  path = ~/dot_files/.gitconfig-personal
[includeIf "gitdir:~/projects/work/"]
  path = ~/dot_files/.gitconfig-work
